<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark") -}}class="dark"{{ end }}>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
		<div id="search-box" style="margin-bottom: 2em;">
  <input type="text" id="searchInput" placeholder="🔍 输入关键词搜索..." style="width: 100%; padding: 0.6em; font-size: 1.1em;">
  <div id="searchResults" style="margin-top: 1em;"></div>
</div>

			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
					<div class="post">
						{{ partial "post-preview.html" . }}
					</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
